body {
	background: linear-gradient(to bottom, #d580ff 0%, #b31aff 100%);
	font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
	overflow: hidden;
}
#title {
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	padding: 20px 0;
	color: white;
	background-color: #202020;
	border-bottom: 3px solid black;
	font-size: 45px;
	letter-spacing: 2;
}
#boks {
	position: relative;
	top: 18px;
	width: 900px;
	height: 400px;
	padding: 5px 20;
	border: 2px solid black;
	background-color: white;
	font-size: 20px;
	text-align: center;
	margin-bottom: 14px;
}
#BackButton {
	position: absolute;
	top: 16px;
	left: 35px;
	height: 63px; 
	width: 65px;
	z-index: 2;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
strong { margin-left: 8px; }
em { margin-left: 3px; }

/* NAVBAR */
.navbtn {
    position: relative;
	top: 190px;
	padding: 25px 80px;
	color: black;
	background: white;
	border: 2px solid black;
	border-radius: 15px;
	font-size: 25px;
	font-weight: 600;
    text-align: center;
    text-decoration: none; 
	z-index: 2;
	margin-left: 10px; margin-right: 50px;
}
.navbtn:hover {	background-color: #d580ff;	}


/* HOME */
#maintitle {
	position: absolute;
	top: 270px;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 26 0;
	color: black;
	background: #F0F0F0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 50px;
	font-family: 'Lexend Deca', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3;
}

/* LYKKEHJUL */
#back {
	position: absolute;
	top: 130px;
	right: 50px;
	width: 380px;
	height: 440px;
	padding: 5px 50;
	border: 2px solid black;
	background-color: white;
	font-size: 20px;
	text-align: left;
	opacity: 0.95;	
	z-index: -1;
}
#spin {
	position: absolute;
	top: 20px;
	left: 400px;
	width: 350px;
	height: 350px;
	margin: 0 auto;
}
.lykkehjul {	
	position: absolute;
	top: 30px;
	left: 351px;
	width: 100%;
	height: 100%;
}
.pil {
	position: absolute;
	top: 166px;
	left: 670px;
	width: 80px;
	z-index: 2;
	cursor: pointer;
}